*{
    margin: 0;
    padding: 0;
}
body{
    width: auto;
position: relative;

    /* padding: 32px 52px; */

}
.modal-window {
    width: 64px;
height: 64px;
justify-content: center;
text-align: center;
    position: fixed;
    background-color: #10BBD5;
    border-radius: 50px;
    top: 50%;
    right: 0 ;
    

}
.wrapp{
    display: flex;
    width: 100%;
    height: 104px;
    flex-direction: column;
    position:fixed;
    top: 0;
    z-index: 5;
}
.header-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #10BBD5;
    padding: 16px 52px;
}
.logo {
    display: block;
    justify-content: flex-start;
    align-content: center;
    
    }
.logo_2{
    background: none;
    border: none;
}
.logo-1{
    display: inline;
    align-items: center;
    color: #ffff ;
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #f8fdfe;
}
.basket-icon{
    display: inline-block;
    align-items: center;
  
}
.backet{
    display:block ;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

}
.header-categori{
    display: flex;
   width: auto;
   padding: 20px;
    justify-content: space-between;
    align-items: center;
   

}
.header-title{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000;
}

.list{
    display: inline-block;
    justify-items: center;
    align-items: center;
}

.item_2{
    display: inline-block;
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 40px;
    color: #000;
}

.main-wrapp{
    width: 100%;
    background-color: #eeeeef;
    padding: 32px 52px;
    margin-top: 130px;

}
.main_title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom:1px solid #a8a8a8;
    padding: 20px;
}
.content-cards{
display: grid;
margin: 40px 0;
grid-template-columns:1fr 1fr 1fr 1fr ;
width: 100%;
column-gap: 27px;

}   
.cards{
    display: grid;
    /* width: 306px; */
flex-direction: column;   
align-items: center;   
justify-content: center;   
position: relative; 
border: 1px solid #a8a8a8;
background-color: #fff;   
border-radius: 5px; 
padding: 32px;
  }
  .name{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #1f1f1f;
    text-decoration: none;
    margin-bottom: 20px;
   
   
   
  }
  .first-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
  .autor{
    display: block;
    border-top: 1px solid #eeeeef ;
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #8e8e8e;
padding-top: 10px;
  }
  .box-price{
display: inline-block;
margin: 20px 0;


  }
  .pricy-new{
    display: block;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: #e90000;
  }
  .pricy-old{
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    text-decoration: line-through;
    color: #8e8e8e;
    margin-left: 29px;
  }
  .button-add{
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    height: 40px;
    color: #fff;
    background: #4c394e;
    border: none;
    margin-left: 70px;
    
  }
  .button-end{
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    height: 40px;
    color: #fff;
    background: #4d762d;
    border: none;
    margin-left: 70px;
  }
.img {
    display: block;
    width: auto;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    }
    .new{
        display: block;
        padding: 4px 8px;
        width: 47px;
        height: 32px;
        position: absolute;
        text-align: center;
        border-radius: 4px;
        background: #af39e7;
        color: #F8FDFE;
        top: 8%;
        left: 13%;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4
    }
.hit{
        display: block;
    padding: 4px 8px;
    width: 36px;
    height: 32px;
    position: absolute;
    text-align: center;
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    top: 8%;
    left: 13%;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4;
    }
    .sale{
    display: block;
    position: absolute;
    border-radius: 4px;
    padding: 4px 8px;
    width: 68px;
    height: 32px;
    background: #ea33c0;
    color: #F8FDFE;
    top: 8%;
    left: 25%;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4;

}
.footer{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 32px 52px;
background: var(--eggplant, #4C394E);
color: var(--white, #F8FDFE);
font-family: Cabin;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 2.4;
}